# Binaries
bin/
/dist/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test
*.test
*.out
coverage.txt
coverage.html

# Go
vendor/

# Python
__pycache__/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# Helm
charts/kconmon-ng/charts/
*.tgz

# Environment
.env
.env.local

# MkDocs build output
site/
